[Unit]
Description="Service file for Monad Execution"
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/monad-single-node/monad \
    --chain monad_devnet \
    --db /dev/triedb \
    --block_db /home/ubuntu/monad-single-node/data/node/ledger \
    --statesync /home/ubuntu/monad-single-node/data/node/statesync.sock \
    --log_level INFO
Restart=no
User=ubuntu
Group=ubuntu
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
# AllowedCPUs=1-7
# CPUAffinity=1,2,3,4,5,6,7
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
