[Unit]
Description="Service file for Monad RPC"
After=network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/monad-single-node/monad-rpc \
    --node-config /home/ubuntu/monad-single-node/config/node.toml \
	--ipc-path /home/ubuntu/monad-single-node/data/node/mempool.sock \
	--triedb-path /dev/triedb \
  	--otel-endpoint http://37.59.57.105:4317
Environment="RUST_LOG=info,monad_ipc=debug"
Restart=no
User=ubuntu
Group=ubuntu
DeviceAllow=/dev/triedb rw
LimitNOFILE=1048576
AllowedCPUs=12-15
CPUAffinity=12,13,14,15
# Hugemem configs below
LimitMEMLOCK=infinity
MemoryDenyWriteExecute=false
#SystemCallFilter=~@memlock
ProtectKernelModules=no
ProtectKernelLogs=no

[Install]
WantedBy=multi-user.target
